.p1{
    color: rgb(17, 13, 245);
    border: solid 2px chocolate;
    margin: 2px;
    padding: 4px;
}

#anc{
    color: green;
}

.li{
    font-size: large;
}

#box{
    margin-left: 15px;
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    padding: 20px;
}
